// COLOURS

$darkest: #220277;
$dark: #28128d;
$mid: #3a1abc;
$light: #6878cc;
$lightest: #d7ecfd;

$red: #e74c3c;
$green: #2dc937;
$yellow: #fff100;
$dark-yellow: #ff9b00;

// TYPOGRAPHY
$font-family: 'Quicksand', 'Arial', sans-serif;