@import 'base-styles/_variables.scss';

.answer-container {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 2vw 5%;
    flex: 1 0 auto;
}

.result-container {
    max-width: 50%;
}

.slide-anim-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  
.slide-anim-enter-active {
    animation: fadeIn .8s ease-in .4s forwards, slideIn .9s ease-in .3s forwards;
  }

.slide-anim-exit-active {
    animation: fadeOut .6s ease-out forwards, slideOut .8s ease-out forwards;
  }

.slide-anim-exit {
    opacity: 1;
    transform: translateX(-100%);
  }
  
@keyframes fadeIn {
  0%      { opacity: 0; }
  100%    { opacity: 1; }
}

@keyframes fadeOut {
  0%      { opacity: 1; }
  100%    { opacity: 0; }
}

@keyframes slideIn {
  0%      { transform: translateX(-100%); }
  80%     { transform: translateX(15%); }
  100%    { transform: translateX(0); }
}

@keyframes slideOut {
  0%     { transform: translateX(-100%); }
  80%    { transform: translateX(15%); }
}