@import 'base-styles/_variables.scss';

.answer-strip {
    background-color: $light;
}

.answer-container {
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.result-container {
    max-width: 50%;
}