@import 'base-styles/_variables.scss';

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $level3;
    background-color: rgba($color: $black, $alpha: .8);
}

.splash {
    width: 40vw;
    max-width: 800px;
    margin: 3vh auto;
    background-color: $light;
    text-align: center;
    border: 10px solid $dark;
    border-radius: 1vh;
}