// COLOURS

$darkest: #220277;
$dark: #28128d;
$mid: #3a1abc;
$light: #6878cc;
$lightest: #d7ecfd;

$red: #e74c3c;
$green: #2dc937;
$yellow: #fff100;
$dark-yellow: #ff9b00;

$white: #fff;
$black: #000;


// TYPOGRAPHY

$font-family: 'Quicksand', 'Arial', sans-serif;
$regular: 400;
$bold: 700;


// Z-INDEX

$level1: 10;
$level2: 20;
$level3: 30;
$level4: 40;
$level5: 50;