@import 'base-styles/_variables.scss';

.answer-strip {
  background-color: $light;
  height: 14vw;
  max-height: 14vw;
  overflow: hidden;
  display: flex;
}

//FLEXBOX ORDER

.flex-order--1 {
  order: 1;
}

.flex-order--2 {
  order: 2;
}

.flex-order--3 {
  order: 3;
}

.flex-order--4 {
  order: 4;
}
