@import 'base-styles/_variables.scss';

.header-container {
  background-color: $dark-yellow;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1vh solid $darkest;
  padding: 2vh 2vw;

  h1 {
    color: $darkest;
    margin-bottom: 0;
  }
}
