@import 'base-styles/_variables.scss';
@import 'base-styles/_typography-extends.scss';

.btn {
  font-family: $font-family;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--horizontal {
    @extend %h4;
    min-width: 10vw;
    padding: 1.3vh 1.3vw;
    text-align: center;
    background-color: $dark;
    color: $white;
    border: 4px solid $white;
    border-radius: 1vh;

    &-small {
      font: {
        size: 1.5vw;
        weight: $regular;
      }
      min-width: 5vw;
      padding: 0.7vh 0.7vw;
      border: 2px solid $white;
      border-radius: 0.7vh;
    }

    &-green {
      background-color: $green;
    }
  }

  &--round {
    @extend %h2;
    margin-bottom: 0;
    border: 6px solid $dark;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-large {
      width: 10vw;
      height: 10vw;
      max-width: 100px;
      max-height: 100px;
      background-color: $white;
      color: $darkest;
    }

    &-small {
      width: 6vw;
      height: 6vw;
      max-width: 60px;
      max-height: 60px;
      background-color: $dark;
      color: $white;
    }
  }
}
