@import 'base-styles/_variables.scss';

.sum-container {
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.border-green {
    border-color: $green !important;
}

.border-red {
    border-color: $red !important;
}